<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>fuschia</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fuschia</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>green-fill</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green-fill</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange-fill</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange-fill</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-60</string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>fuschia</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fuschia-152</string>
					<string>fuschia-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>green-fill</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green-fill-152</string>
					<string>green-fill-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange-fill</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange-fill-152</string>
					<string>orange-fill-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-60</string>
				<string>AppIcon-76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
